<div class="container">
  <mat-card>
    <mat-card-header class="titulo">
      <mat-card-title class="titulo"> Cadastra-se</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="#" id="main-form" #form="ngForm" (ngSubmit)="submit()">

        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input
              [(ngModel)]="name"
              type="text"
              matInput
              placeholder="Digite seu nome"
              name="name"
              #inputnome="ngModel"
              required
            />
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input
              [(ngModel)]="sobrenome"
              type="text"
              matInput
              placeholder="Digite seu sobrenome"
              name="sobrenome"
              #inputsobrenome="ngModel"
              required
            />
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>E-mail</mat-label>
            <input
              [(ngModel)]="email"
              type="email"
              matInput
              placeholder="Digite seu e-mail...seunome@email.com"
              name="E-mail"
              #inputemail="ngModel"
              required
              email
            />
            <mat-error> </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="grow">
            <mat-label>CPF</mat-label>
            <input
              [(ngModel)]="cpf"
              type="text"
              matInput
              placeholder="Digite seu CPF xxx.xxx.xxx-xx"
              name="CPF"
              #inputcpf="ngModel"
              required
            />
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div >
          <mat-form-field appearance="fill" >
            <mat-label>Telefone</mat-label>
            <input class="fone"
              [(ngModel)]="telefone"
              type="tel"
              matInput
              placeholder="Digite seu celular com DDD"
              name="Fone"
              #inputfone="ngModel"
              required
            /> 
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>

          
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Endereço</mat-label>
            <input
              [(ngModel)]="endereco"
              type="text"
              matInput
              placeholder="Digite seu endereco "
              name="Endereço"
              #inputend="ngModel"
              required
            />
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="grow">
            <mat-label>Complemento</mat-label>
            <input
              [(ngModel)]="complemento"
              type="text"
              matInput
              name="complemento"
              #inputcom="ngModel"
              required
            />
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Senha</mat-label>
            <input
              [(ngModel)]="senha1"
              type="text"
              matInput
              placeholder="Cria a sua senha "
              name="senha1"
              #inputsenha="ngModel"
              required
            />
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="grow">
            <mat-label>Confirme a senha digitada</mat-label>
            <input
              [(ngModel)]="senha2"
              type="text"
              matInput
              name="senha2"
              #inputsenha2="ngModel"
              required
            />
            <mat-error>Esse campo é de preenchimento obrigatório!</mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <button
            mat-raised-button
            type="submit"
            color="warn"
            [disabled]="form.invalid"
            
          >
            Cadastrar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
